*{
    margin: 0;
    padding: 0;
}
h3{
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.headingtext h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    font-weight: bold;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headingtext h4{
    font-size: 14px;
    font-weight: 400;
    margin-top: -13px;
    margin-left: 1rem;
    line-height: 17px;
}
section{
    padding: 15px;
}
section p{
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    font-weight: bold;
}