*{
    padding: 0;
    margin: 0;
}
.banner{
    background-image: linear-gradient(167.91deg, rgba(35, 59, 76, 0.9) -1.02%, rgba(255, 255, 255, 0.9) 104.5%);
    min-height: 100vh;
    padding: 0px;

}
.slidecontainer{
    width:100%; 
}

#myRange{
    height: 50px;
    width: 80%;
    color: rgb(226, 10, 46);
    background-color: rgb(212, 59, 12);
    margin-left: 30px;
}
.hr{
    background-color: white;
    padding: 2.5px;
    border-radius: 20px;
    border: 2px solid rgb(99, 88, 88);
    width: 330px;
    margin-left: 15px;
    margin-top: 20px;
}
.slidertext{
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.text1{
    float:left;
    font-weight: 700;
    font-size: 15px;

}
.text2{
    float: right;
    font-weight: 700;
    font-size: 15px;
}
.addimage{
    margin-top:50px;
}
.addimage a{
    text-decoration:none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #233B4C;
    border-radius: 10px;
    padding: 12px 39px;
    display: inline-block;
}
.image{
    width: 100%;
    height: auto;
}
img{
    height:auto;
    width: 80%;
}
@media screen and (max-width: 368px){
    .text1, .text2,  .addimage a{
        font-size:10px;
    }
    .addimage a{
        width:100%;
        padding: 12px auto;
    }
}
