*{
    padding: 0;
    margin: 0;
}
.banner{
    background-image:linear-gradient(180deg, rgba(87, 115, 134, 0.9) 0%, rgba(250, 250, 250, 0.699) 100%);
    height: 900px;
    padding: 0px;
}
.image{
    position: relative;
    top: 25%;
    left: 10%;
}
.image1{
    position: absolute;
    top: 12%;
    left: 8%;
    z-index: 3;

}
.circle{
    border-radius: 50%;
    background-color: red;

}
   