*, a{
    padding: 0;
    margin: 0;
    text-decoration:none;
}
.banner{
    background-image:linear-gradient(180deg, rgba(35, 59, 76, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
    min-height: 100vh;
    min-width:100vw;
    padding: 0px;

}
.slidecontainer{
    
    
}

#myRange{
    height: 50px;
    width: 100%;
    color: rgb(226, 10, 46);
    background-color: rgb(212, 59, 12);
}
.hr{
    background-color: white;
    padding: 2.5px;
    border-radius: 20px;
    border: 2px solid rgb(99, 88, 88);
    width: 100%;
}
.slidertext{
    width:100%;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide1{
    display:block;
    margin:0 auto;
    height: 16px;
    width: 2px;
    background-color: rgb(145, 137, 137);
}
.slide2{
    display:block;
    margin:0 auto;
    height: 16px;
    width: 2px;
    background-color: rgb(167, 162, 162);

}
.text1{
    display:block;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 4px

}
.text2{
    display:block;
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    padding-right: 20px;
}
.slidertext2{
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:relative;
}
.text3{
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: rgb(187, 73, 73);
    padding: 0px 0px;
  
}
.text4{
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: rgb(133, 118, 118);
    padding: 0px 0px;
}
.text5{
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: rgb(238, 20, 238);
    padding: 0px 0px;
}
.text6{
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: rgb(69, 139, 69);
    padding: 0;
}
.slide3{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin:4px auto;
}
.slide4{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin:4px auto;
    
}
.slide5{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin:4px auto;
}
.slide6{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin:4px auto;
}
.addimage a{
    text-align: center;
    background-color: #233B4C;
    border-radius: 10px;
    padding: 12px 39px;
    display: inline-block;
    margin-left: 30%;
    margin-top:75px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.addimage {
    width:100%;
}
.image{
    width: 380px;
    height: 400px;
    padding:10px 20px;
    margin-right: 0px;
    
}
img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin: 0px;
}
.verified{
    display:inline-block;
    width: 20px;
    height: 20px;
}
h5 img{
    height: 100%;
    width: 100%;
}
h5{
    text-align: end;
    padding-right: 5.5rem;
    margin-top: -50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.post a{
    text-align: center;
    background-color: #233B4C;
    border-radius: 10px;
    padding: 12px 66px;;
    display: inline-block;
    margin-top:75px;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.post {
   width:100%; 
   text-align: right;
}
section > div{
    width:100%;
}

.slidertext2 > div{
    height:59px;
    display:inline-block;
    width:max-content;
    margin:0 auto;
    position:absolute;
    top:100%;
    z-index:0;

}
@media screen and (max-width:576px){
    .text1,.text2{
        font-size:10px;
    }

    .text3,.text4,.text5,.text6{
        font-size:8px;
    }
    h5{
        font-size:20px;
    }
}
@media screen and (max-width:420px){
    .post a{
        width:100%;
    }
}
