*{
    padding: 0;
    margin: 0;
}
.banner{
    background-image:linear-gradient(180deg, rgba(35, 59, 76, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
    height: 900px;
    padding: 0px;

}
.slidecontainer{
    
    
}

#myRange{
    height: 50px;
    width: 300px;
    color: rgb(226, 10, 46);
    background-color: rgb(212, 59, 12);
    margin-left: 30px;
    margin-top: 30px;
}
.hr{
    background-color: white;
    padding: 2.5px;
    border-radius: 20px;
    border: 2px solid rgb(99, 88, 88);
    width: 330px;
    margin-left: 15px;
    margin-top: 20px;
}
.slidertext{
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide1{
    height: 15px;
    width: 2px;
    background-color: rgb(145, 137, 137);
    margin-left: 4rem;
    position: relative;
    top: -7px;
}
.slide2{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin-left: 27rem;
    position: relative;
    top: -20px;
}
.text1{
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
    margin-top: -18px;
    position: relative;

}
.text2{
    float: right;
    margin-top: -26px;
    font-weight: 700;
    font-size: 15px;
    padding-right: 20px;
    position: relative;
}
.slidertext2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2.5rem;
    margin-top: -40px;
}
.text3{
    float: left;
    font-weight: 700;
    font-size: 10px;
    color: rgb(187, 73, 73);
    padding: 0px 20px;
  
}
.text4{
    float: left;
    font-weight: 700;
    font-size: 10px;
    color: rgb(133, 118, 118);
    padding: 0px 20px;
}
.text5{
    float: left;
    font-weight: 700;
    font-size: 10px;
    color: rgb(238, 20, 238);
    padding: 0px 20px;
}
.text6{
    float: left;
    font-weight: 700;
    font-size: 10px;
    color: rgb(69, 139, 69);
    padding: 0px 28px;
}
.slide3{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin-left: 5.5rem;
    position: relative;
    top: -2px;
}
.slide4{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin-left: 12.5rem;
    position: relative;
    top: -17px;
    
}
.slide5{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin-left: 20rem;
    position: relative;
    top: -32px;
}
.slide6{
    height: 15px;
    width: 2px;
    background-color: rgb(167, 162, 162);
    margin-left: 28.5rem;
    position: relative;
    top: -47px;
}
.addimage{
    text-align: center;
    background-color: #233B4C;
    border-radius: 10px;
    padding: 12px 39px;
    display: inline-block;
    margin-left: 30%;
    margin-top:50px;
    margin-bottom: 20px;
}
.addimage a{
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image{
    width: 380px;
    height: 400px;
    padding:10px 20px;
    margin-right: 0px;
    
}
img{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin: 0px;
}
.verified{
    width: 20px;
    height: 20px;
}
h5 img{
    height: 100%;
    width: 100%;
    position: relative;
    left: 33rem;
    top: -18px;
}
h5{
    text-align: end;
    padding-right: 5.5rem;
    margin-top: -50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.post{
    text-align: center;
    background-color: #233B4C;
    border-radius: 10px;
    padding: 12px 66px;;
    display: inline-block;
    margin-left: 27%;
    margin-top:23px;
}
.post a{
    color: white;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}