*{
    margin: 0;
    padding: 0;
}
.banner{
    padding: 20px;
}
.image{
    width: 140px;
    height: fit-content;
    padding: 0;
    margin: 0;
}
.image img{
    width: 100%;
    height: 100%;
}
h2{
    font-weight: 600;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h4{
    padding: 5px 10px 0px;

} 
hr{
    border-top: 1px solid rgb(80, 78, 78);
}
.article1{
    border-radius: 10px;
    border: 2px solid rgb(216, 208, 208);
    height: fit-content;
    margin-bottom: 0;
}
.article1 img{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}


.article2{
    border-radius: 10px;
    border: 2px solid rgb(216, 208, 208);
    padding-bottom: 0;
    margin-bottom: 0;
}
.article1 p{
    font-size: 14px;
    font-weight: 600;
}
.image1{
    width: 140px;
    height: fit-content;
    padding: 0;
}
.article2 img{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
p{
    padding: 10px 10px 0px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.article3{
    border-radius: 10px;
    border: 2px solid rgb(216, 208, 208);
    padding-bottom: 0;
    margin-bottom: 0;
}
.article3 img{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.article4{
    border-radius: 10px;
    border: 2px solid rgb(216, 208, 208);
    padding-bottom: 0;
    margin-bottom: 0;
}
.article4 img{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.article5{
    border-radius: 10px;
    border: 2px solid rgb(216, 208, 208);
    padding-bottom: 0;
    margin-bottom: 0;
}
.article5 img{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

@media screen and (max-width:768px){
    .image, .image1{
        width:100%; 
    }
}

